#worldmap {
    background-image: url("/src/assets/BattleAxiomWM.png");
background-position: center top 10px;
    background-repeat: no-repeat;
    background-size:  contain;
    height: 90vh;
    padding: 10px;
    display: grid;
    justify-content: center;
    transform: scale(1.16);

    overflow: hidden;
}

.play-btn {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  background-color: #1212127d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.play-btn:hover {
  background-color: #1111119b;
}

#playbutton {
    height: 90px;
    width: 90px;
    border-radius: 70px;
    border: 4px rgba(192, 182, 4, 0.086) dashed;
      position: fixed;
  top: 57px;
  left: 179px;
  color: rgba(255, 217, 0, 0.682);

}

.mist-overlay {

    position: absolute;

    inset: 0;

    background-image:
      url("/MistOverlay.jpg");

    background-repeat: repeat-x;

    background-size: cover;

    opacity: 0.25;

    pointer-events: none;

    animation:
      driftClouds 40s linear infinite;

}

@keyframes driftClouds {

    from {
        background-position: 0 0;
    }

    to {
        background-position: 1200px 0;
    }

}

.WMButtons {

    position: absolute;

    width: 75px;
    height: 75px;

    border-radius: 50%;

    border: 3px solid rgba(255, 217, 0, 0.452);

    background:

        radial-gradient(
            circle,
            rgba(255, 255, 255, 0.122),
            rgba(120, 80, 20, 0.25)
        );

    color: white;

    font-family: Georgia, serif;

    font-size: 18px;

    font-weight: bold;

    text-shadow:
        2px 2px 3px black;

    cursor: pointer;


    box-shadow:

        0 0 10px rgba(0, 0, 0, 0.797),

        inset 0 0 15px rgba(255, 217, 0, 0.398);


    transition:

        transform .3s,

        filter .3s;

}


.WMButtons::before {

    content:"✦";

    position:absolute;

    top:50%;

    left:50%;

    transform:
        translate(-50%,-50%);

    font-size:65px;

    color:

        rgba(247, 211, 7, 0.302);

    z-index:-1;

}


.WMButtons:hover {

    transform:

        scale(1.15)

        rotate(7deg);


    filter:

        brightness(1.3);

}

.WMButtons {

background:

conic-gradient(

    rgba(255, 217, 0, 0.145),

    rgba(80, 50, 10, 0.178),

    rgba(255, 217, 0, 0.288),

    rgba(80, 50, 10, 0.418)

);

}


#TwellButton {
  font-size: 14px;
        position: fixed;
  top: 557px;
  left: 290px;
  height: 60px;
  width: 60px;
}

#Secret {
          position: fixed;
  top: 17px;
  right: 660px;
  background-color: rgba(255, 255, 0, 0.018);
  border: none;
}